*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(37, 37, 37);
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form{
    border: 4px darkslategrey ridge;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    background-color:wheat;
    border-radius: 5px;
}

#name{
    height: 25px;
    width: 200px;
}

#message{
    background-color:wheat;
    border-radius: 5px;
    height: 60px;
    margin: 10px;
}

form button{
    background-color: aquamarine;
    color:darkolivegreen;
    padding: 5px;
    border-radius: 5px;
}