*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

form{
    border: 4px darkslategrey ridge;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

form input{
    background-color:wheat;
    border-radius: 5px;
}

#formName{
    height: 25px;
    width: 200px;
}

#formMessage{
    background-color:wheat;
    border-radius: 5px;
    height: 60px;
    margin: 10px;
}

form button{
    background-color: rgb(127, 240, 255);
    color:darkolivegreen;
    padding: 5px;
    border-radius: 5px;
}

form button:hover{
    scale: 1.05;
}

form button:active{
    scale: 1.00;
}

#messageBoard{
    color: whitesmoke;
    text-align: center;
}

#messageBoardTitle{
    margin-top: 20px;
}

.name{
    margin-top: 50px;
}

.message{
    max-width: 320px;
    height: auto;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.delBtn{
    margin: 10px;
    padding: 3px;
    background-color: rgb(31, 31, 31);
    color: rgb(197, 197, 197);
    border-radius: 5px;
    border: 2px ridge darkslategrey;
}

.delBtn:hover{
    scale: 1.05;
}

.delBtn:active{
    scale: 1;
}